@import "arco-palette.css";
@import "main.css";

span {
  color: var(--c-text);
}

.headerPanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--c-navbar);
  display: flex;
  justify-content: space-between;
  color: var(--c-title);
  height: 60px;
  padding: 1px 0;
  border-radius: 3px;
  border-bottom: 1px solid var(--c-border);
  font-weight: bold;
  font-size: 14px;
}

#pageTitleText {
  font-size: 20px;
  font-weight: bold;
}

.panelButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

#listContainer {
  border: 1px solid var(--c-border);
  background: var(--c-card);
  border-radius: 5px;
  padding: 5px 0;
}

.dataTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0;
  font-size: 14px;
  table-layout: auto;
}

.dataTable th,
.dataTable td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataTable th {
  font-weight: bold;
  border-bottom: 1px solid var(--c-border);
}

.dataTable tbody tr {
  border-bottom: 1px solid var(--c-border);
}

.even {
  background: var(--c-card);
}

.odd {
  background: var(--gray-1);
}

.dataTable tbody tr:last-child {
  border-bottom: none;
}

.dataBody {
  border-bottom: none;
}

.listHead * {
  color: var(--c-title);
  font-weight: bold;
  padding: 10px 0;
}

.dataBody > tr * {
  font-size: 12px;
  color: var(--c-text);
  margin: 5px 0;
}

.dataBody > tr > *:first-child {
  border-radius: 5px 0 0 5px;
}

.dataBody > tr > *:last-child {
  border-radius: 0 5px 5px 0;
  border-bottom: none !important;
}

.dataBody > tr:last-child > * {
  border-bottom: none !important;
}

.dataBody > tr > * {
  line-height: 24px;
  margin-top: 5px;
  border: none;
}

.CJForm {
  margin: 0 0;
}

input {
  border-radius: 5px;
  border: 1px solid var(--c-border);
  outline: none;
  margin: 0;
  line-height: 2em;
  background-color: var(--c-input-bg);
  color: var(--c-text);
  text-align: center;
}

button {
  border-radius: 5px;
  background-color: transparent;
  border: 0px solid var(--c-border);
  line-height: 2em;
}

button:hover {
  background-color: var(--c-hover);
}

.alert-success {
  font-weight: bold;
  color: var(--green-4);
}

.alert-message {
  font-weight: bold;
  color: var(--red-7);
}

.logoDiv {
  padding-left: 2em;
  background-image: var(--i-logo);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto 100px;
  width: 100px;
}

.userInfoDiv {
  display: flex;
}

.container {
  margin: 100px 10px 50px 10px;
}
