:root {
  --c-title: #212121;
  --c-text: #333;
  --c-border: #d0d7de;
  --c-background: #f8f8f4;
  --c-input-bg: #f8f4f6;
  --c-card: #fcfbf7;
  --c-hover: rgba(230, 230, 230, 0.5);
  --c-focus: #fff;
  --c-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  --c-accent: #9b0000;
  --c-navbar: #fcfbf7;
  --c-sidebar: #fcfbf7;
  --c-subtitle: #82a3ac;
  --c-label: #f6f8fa;
  --c-link: #fcc59f;
  --c-primary: #165dff;
  --c-primary-light: #e8f3ff;
  --c-secondary: #89a2ac;
  --c-button: #f7f8fa;
  --c-card-hover: #66ecf331;
  --c-scrollbar: #c1c1c1;
  --c-tip: #e5e7eb;
  --c-acrylic-bg: rgba(255, 255, 255, 0.5);
  --c-contrast-bg: rgba(255, 255, 255, 0.9);

  --c-pku: #9b0000;

  --bs-font-sans-serif: "Noto Sans SC", Arial, sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.dark {
  --c-title: #e2e2e2;
  --c-text: #cacaca;
  --c-border: #30363d;
  --c-background: #151b23;
  --c-input-bg: #2e3341;
  --c-hover: rgba(29, 33, 41, 0.5);
  --c-card: #212830;
  --c-focus: #010409;
  --c-box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  --c-accent: #e44c47;
  --c-navbar: #151b23;
  --c-sidebar: #0e1017;
  --c-subtitle: #99a5b4;
  --c-label: #22252d;
  --c-link: #f9925a;
  --c-primary: #7dc1fc;
  --c-primary-light: #262947;
  --c-secondary: #00879d;
  --c-button: #22262d;
  --c-card-hover: rgba(23, 231, 242, 0.23);
  --c-scrollbar: #6b6b6b;
  --c-tip: #22262d;

  --c-acrylic-bg: rgba(20, 20, 20, 0.5);
  --c-contrast-bg: rgba(0, 0, 0, 0.9);
}

* {
  outline: none !important;
}

html {
  background: var(--c-background) !important;
}

.acrylic {
  background: var(--c-acrylic-bg);
  -webkit-backdrop-filter: blur(8px) saturate(120%);
  backdrop-filter: blur(8px) saturate(120%);
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2,
h3 {
  color: var(--c-title);
}

code {
  font-family: Consolas, Courier, monospace;
}

::-webkit-scrollbar {
  display: none;
}

.control-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 10px;
}

@font-face {
  font-family: "icon";
  src: url("../assets/fonts/iconfont.woff") format("woff");
  font-display: swap;
}

@keyframes fadeInUpTransition {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes UpTransition {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes LeftTransition {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeInUpStablePixel {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpStablePixelForContentBox {
  from {
    margin-left: min(25%, 300px);
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }

  to {
    margin-left: min(25%, 300px);
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftStablePixel {
  from {
    color: #fff;
    transform: translateX(-72px);
    -webkit-transform: translateX(-72px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-scrollbar);
  border-radius: 9999px;
}
