<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title> 需要认证 </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/arco-palette.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
  </head>
  <body>
    <div class="main">
      <div id="singleColPanel" class="mid">
        <div class="row" style=" border-bottom: 1px solid var(--c-border); padding-bottom: 20px; margin-bottom: 20px;">
          <span style="font-size: 16px; font-weight: bold;">通过iaaa登录</span>
        </div>
        <div id="loginPanel">
          <form method="POST">
            <div>
              <span>账号</span>
              </div>
            <div class="row">
              <input
                type="text"
                name="username"
                required
              />
            </div>
            <div>
              <span>密码</span>
              </div>
            <div class="row">
              <input
                type="password"
                name="password"
                required
              /><br />
            </div>
            <div class="row">
              <button type="submit" id="logonButton">登录</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
