:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p,
span {
  color: var(--c-text);
}

.el-tooltip span {
  color: unset;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-button);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--el-text-color-primary);
}

.el-menu .el-menu-item {
  background: transparent !important;
  border: none !important;
}

.el-menu.el-menu--vertical .el-menu-item,
.el-menu.el-menu--vertical .el-sub-menu .el-sub-menu__title {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-radius: 5px;
  height: 40px;
  line-height: 1.5;
}

.el-menu.el-menu--vertical .el-menu-item.is-active {
  background: var(--gray-2);
}

.el-menu.el-menu--vertical .el-menu-item.is-active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  border-radius: 9999px;
  background: var(--el-menu-active-color);
}

.el-menu .el-menu-item.collapse-toggle {
  margin: 0;
  padding-bottom: 0;
}

.el-menu .el-menu-item.collapse-toggle:hover {
  background: transparent;
}

.el-table {
  border-radius: 6px;
}
